:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fbfc;
}
header {
    background-color: #1d539e;
    height: 40vh;
    width: 100vw;
    padding-top: 14vh;
    text-align: center;
    color: #f9fbfc;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
}
main {
    width: 100vw;
    height: 25vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    position: absolute;
    margin: 0;
    z-index: 3;
    justify-content: center;
}
.box1, .box2, .box3 {
    height: 470px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.25s;
    box-shadow: 0px 1px 4px #82879957;
}
.box1 {
    position: relative;
}
.box2 {
    position: relative;
    margin-left: 25px;
}
.box2 h2::after {
    content: "Popular";
    background-color: #1d539e;
    border-radius: 20px;
    margin-left: 125px;
    font-size: 13px;
    padding: 11px 23px;
    color: #f9fbfc;
}
.popular {
    background-color: #ffcc29;
    margin: 0 0 1px 0; 
    padding-top: 24px;
    padding-bottom: 30px;
    border-radius: 10px 10px 0 0;
    color: #1d539e;
}
.box3 {
    position: relative;
    margin-left: 25px;
}
button {
    margin: 0 24px;
    height: 60px;
    width: 300px;
    font-size: 25px;
    background-color: transparent;
    border: 1px solid #1d539e;
    font-family: 'Open Sans', sans-serif;
    color: #1d539e;
    border-radius: 10px;
    cursor: pointer;
}
h1 {
    font-size: 4rem;
    margin: 0;
}
.sub {
    font-size: 1.5rem;
    margin: 0;
}
button:hover {
    background-color: var(--blue);
    color: var(--page-background);
}
.box1:hover, .box2:hover, .box3:hover {
    transform: scale(1.12);
}
h2 {
    padding-left: 25px;
    padding-top: 8px;
    margin-top: 16px;
}
.sub {
    color: #f9fbfc;
}
p, li {
    font-size: 0.9rem;
    color: #828799;
    margin-left: 25px;
}
span {
    font-size:3rem;
    color: #000000;
}
strong {
    color: #000000;
}
.price {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 8px;
}
.subprice {
    margin: 0 0 15px 25px;
}
.line {
    height: 1px;
    width: 300px;
    margin: 0 25px 0 25px;
    background-color: #cacdd4;
}
.free, .prof {
    margin-bottom: 31px;
}
li {
    margin-bottom: 7px;
    margin-left: 10px;
    font-weight: 600;
}
ul {
    list-style: url(./assets/check.svg);
}
.butfree {
    margin-top: 93px;
}
.butpop {
    margin-top: 67px;
}
.butprof {
    margin-top: 41px;
}
@media only screen and (max-width: 1100px) {
    header {
        width: 100vw;
        text-align: center;
    }
    main {
        height: 75vh;
        width: 100vw;
    }
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 350px;
        align-items: center;
    }
    .box1, .box2, .box3 {
        margin: 0 0 -50px 0;
        transform: scale(0.8);
    }
    .box1:hover, .box2:hover, .box3:hover {
        transform: scale(0.87);
    }
    h1 {
        font-size: 45px;
        padding-top: 0.3vh;
        margin-top: 0;
    }
    .sub {
        font-size: 20px;
    }
    .box2 {
        order: -1;
    }
}
@media only screen and (max-width: 550px) {
    h1 {
        font-size: 35px;
    }
    .sub {
        font-size: 15px;
        margin-bottom: 0;
    }
    .container {
        margin-top: 250px;
    }
}
